<!doctype html>

{% extends "todo/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Current Tax Return</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" class="form-control" id="title" required>
                </div>

                <div class="form-group">
                    <label for="full_name">Full Name</label>
                    <input name="full_name" class="form-control" id="full_name" >
                </div>

                <div class="form-group">
                    <label for="sin">Social Insurance Number (SIN)</label>
                    <input type="text" maxlength="9" name="sin" class="form-control" id="sin" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></input>
                </div>

                <div class="form-group">
                    <label for="year">Tax Year</label>
                    <input name="year" class="form-control" id="year" value="2022">
                </div>

                <div class="form-group">
                    <label for="memo">Income</label>
                    <input type="text" name="memo" class="form-control" id="memo" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></input>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}